.venv/
__pycache__/
.pytest_cache/
test-results/
playwright-report/
.auth/
auth.state
playwright/.auth/
screenshots/*
!screenshots/.gitkeep
videos/
.env
.vscode/
test_learn_playwright.py
videos/
pytestdebug.log
